.idea
.bsp
.metals
.vscode
.bloop
target
*.iml
.DS_Store
newbenchmarks/
/.profile
test/
/examples/src/main/scala/examples/execute/
/examples/src/main/scala/examples/generate/
scripts/local/
benchmarks/
*.jar
scripts/smtp-benchmarks/results/control/*
scripts/smtp-benchmarks/results/monitored/*
scripts/smtp-benchmarks/results/detached_monitored/*
scripts/smtp-benchmarks/plots/*
venv/
*.log
