:root {
  --md-primary-fg-color:               rgb(207, 207, 207) !important;
  --md-primary-fg-color--light:        rgb(250, 250, 250);
  --md-primary-fg-color--dark:         rgb(207, 207, 207);
  --md-primary-bg-color:               rgb(143, 143, 143);
  --md-primary-bg-color--light:        hsla(0, 0%, 51%, 0.7);

  --md-accent-fg-color:                #797979 !important;
  --md-accent-fg-color--transparent:   #a7a7a7 !important;
  --md-accent-bg-color:                #a7a7a7 !important;
  --md-accent-bg-color--light:         #a7a7a7 !important;
  /* --md-typeset-a-color: rgb(207, 207, 207) !important; */
}

.md-content {
  max-width: 728px;
}
